<div id="globalNav"> <img alt="" src="gblnav_left.gif" height="32" width="4" id="gnl"> 
  <img alt="" src="glbnav_right.gif" height="32" width="4" id="gnr"> 
  <div id="globalLink">
		<%=link_to "home", {:controller=>:home}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		<%=link_to "gallery", {:controller=>:galleries}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		
		<%=link_to "artist bio", {:controller=>:artist_bio}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		<%=link_to "exhibitions", {:controller=>:exhibitions}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		
		<%=link_to "services", {:controller=>:services}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		<%=link_to "press releases", {:controller=>:press_releases}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		
		<%=link_to "contact", {:controller=>:contact}, {:class=>"glink", :style=>"color:#FFFFFF"}%>
		
			<!--
		<a href="shopping.html" id="gl2" class="glink" onmouseover="ehandler(event,menuitem2);"><FONT COLOR="#CD5555">shopping</FONT> 
	    </a>
			-->
		
</div>
  <!--end globalLinks-->
</div>